.adminForm{
    background-color:rgba(203.00000309944153, 191.00000381469727, 232.00000137090683, 1);
    position:relative;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.44999998807907104);
}