.workshopscreate {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: Open Sans;
    font-size: 22px;
}

.conten-create {
    margin-top: 5%;
    display: flex;
    justify-content: center;

    form {
        width: 50%;

        .tile-create {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            margin: 1%;
        
            label {
                font-size: 22px;
            }
        
             #title {
                border: 1px solid #4311B9;
                margin: 5px;
                padding: 5px;
            }
        }
        .create-1 {
            display: flex;
            justify-content: center;
        
            input[type="file"] {
                width: 70%;
                background-color: red;
        
        
            } 
        }

        .create-2{
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 1%;
        
            .label{
                border: solid 1px black;
                font-size: 8px;
                width: 100%;
            }
        
           .create {
                border: 1px solid #4311B9;
                height: 200px;
                word-wrap: break-word;
            }
    
        }

    }



}



 

    
