.buttons{
    margin-left: 30%;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .btn-nav{
        color: #4311B9;
        font-family:Open Sans;
        font-weight:bold;
        font-size: 15px;
        
    }
}