.header{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.44999998807907104);
	width:100%;
	height: 150px;
    margin-bottom: 1%;
    .img-header{
        position: absolute;
        width: 100px;
        height: 74.61px;
        left: 51px;
        top: 14px;
        img{
            width: 100px;
        }
    }
}