    .description-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgb(169, 141, 223);

        .description-form{
            margin: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;

            .form-line{               
                display: flex;
                width: 100%;
                margin-top: 1%;
                margin-bottom: 1%;

                .label-form{
                    width: 30%;
                    padding-right: 2%;
                    font-family: Open Sans;
                    font-size: 15px; 
                    color: black;                   
                }

                .input-form{
                    width: 80%;
                    padding-left: 2%;
                    border: solid 1px black;
                    border-top-left-radius:20px;
                    border-top-right-radius:20px;
                    border-bottom-left-radius:20px;
                    border-bottom-right-radius:20px;

                }

                .form-check-input{
                    padding-right: 2%;
                    border: solid 1px black;
                    margin-top: 1%;
                    margin-bottom: 1%;
                    
                }

                .form-check-label{
                    padding-left: 2%;
                    font-family: Open Sans;
                    font-size: 15px; 
                    color: black;  
                    margin-top: 1%;
                    margin-bottom: 1%;

                }

            }

            .btn-form{
                width: 100%;
                margin-top: 1%;
                margin-bottom: 1%;
                display: flex;
                justify-content: center;
                
                .btn-F{
                    border: solid 1px black;
                    width: 30%;
                    background: #4311B9;
                    color: white;
                    border-top-left-radius:20px;
                    border-top-right-radius:20px;
                    border-bottom-left-radius:20px;
                    border-bottom-right-radius:20px;

                }
                .btn-F:hover{
                    color: black;

                }

            }

        }

        .legals-line{
            width: 100%;
            margin-top: 1%;
            margin-bottom: 1%;
            .txt-F{
                font-family: Open Sans;
                font-size: 18px;
                text-align: center;
                color: black;

            }

        }
        .privacy-politics{
            font-size: 15px;
            font-family: Open Sans;
            overflow:scroll;
            height: 100px;
            width: 90%;
            overflow-x:hidden;
            margin-bottom: 2%;

        }

    }













