.contenedor-MG{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .card-homeMG{
        margin: 2%;
        width: 19%;
        height: 500px;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow:6px 6px 6px 6px rgba(0, 0, 0, 0.44999998807907104);
        .img-cardMG{
            width: 95%;
            height: 250px;
            img{
                width: 95%;
                height: 200px;
            }
        }
    }
    .card-bodyMG{
        margin-top: 2%;
        height: 250px;
        width: 95%;
        .card-titleMG{
            padding: 2%;
            .cardMg-title{
                font-family:Open Sans;
                font-size: 25px;
            }
            .cardMg-text{
                font-family:Open Sans;
                text-align: justify;
                word-wrap: break-word;
                font-size: 18px;
                height: 120px;
            }
            .cardMg-text1{
                font-family:Open Sans;
                font-size: 18px;
            }
        }
    }

    .button-cardsMG{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .btnMG{
            text-align: center;
            font-family:Open Sans;
            font-size: 18px;
            margin: 1%;
            width: 80%;
            background: #fed2c0;
            border: 2px solid #ff4300;
            border-top-left-radius:20px;
            border-top-right-radius:20px;
            border-bottom-left-radius:20px;
            border-bottom-right-radius:20px;
        }
        .btnMG:hover{
            color:#ff4300;
        }
    }
}