.contenedor-P{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .conten-Participants{
        margin-top: 1%;
        margin-bottom: 1%;
        width: 30%;
        .block-participants{
            width: 100%;
            border-top-left-radius:20px;
            border-top-right-radius:20px;
            border-bottom-left-radius:20px;
            border-bottom-right-radius:20px;
            border: 1px solid #ff4300;
            background: #fed2c0;
            .participant-person{
                font-family: Open Sans;
                font-size: 20px;
                text-align: center;
                .txt-Name-participants0{
                    padding: 2%;
                }
            }
            .datos-participants{
                .txt-Name-participants{
                    padding: 2%;
                    font-family: Open Sans;
                    font-size: 15px;
                }
            }
        }
    }
}