.contenedor-cartasR{
    width: 100%;
    border: solid 1px black;
    .cardR{border: solid 1px black;

        .img-cardR{
            border: solid 1px black;
        }

        .card-bodyR{
            border: solid 1px black;
            .card-title2R{
                border: solid 1px black;
                .card-titleR{
                    border: solid 1px black;
                }
            }

            .button-cardsR{
                border: solid 1px black;
                .btnR{
                    border: solid 1px black;
                }
            }
        }
    }
}