.conten-clain{
position: relative;
margin-top: 1%;
margin-bottom: 1%;
    .img-principal{ 
        overflow:hidden;
        width: 100%;
        height: 800px;
        img{
            //transform: scaleX(-1);
            width: 100%;
            height: 800px;
        }
    }

    .text-clain{
        position:absolute; left: 50px; top: 80px;
        width: 40%;
        height: 100px;  
        .txt-clain{
            color: #f6f3ef;
            -webkit-text-stroke: 1.5px black;
            line-height:1.5em;
            text-align: justify;
            font-family:Open Sans;
            font-weight:regular;
            font-size: 25px;
        }
    }

    .img-logo{
        position:absolute; left: 100px; top: 65%;
        width: 30%;
        display: flex;
        justify-content: space-around;
        .logo_clain{
            align-items: center;
            width: 100%;
            img{
                width: 100%;
                height: 80px;
               
            }
        }
    }

    .btn-clain{
        color: #4311b9;
        font-family:Open Sans;
        font-weight:bold;
        font-size: 18px;
        position:absolute; left: 15%; top: 85%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background:rgba(203.00000309944153, 191.00000381469727, 232.00000137090683, 1);
        border: solid #4311b9 1px;	
        width:180px;
        height:50px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    
    }
}